name: Run tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install docker-compose (docker is pre-installed)
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Run tests
        run: make test

      - name: Run test cleanup
        run: make cleanup
